.test {width: 100px;
    height: 25px;
    border: 4px solid black;
    display: inline-block;
    display: inline;
} 
#subtitle {
    border: 4px solid black;
    margin: 25px;
} .bio {color: darkcyan;} 
.divbio {
    height: 300px;
    width: 500px;
    border: 4px solid black;
    display: inline-block;
    margin: 25px;
    margin-top: 25px;}
.myjob {
    height: 300px;
    width: 500px;
    border: 4px solid black;
    display: inline-block;
    margin: 25px;
    margin-top: 25px;}
.works {
    height: 375px;
    width: 500px;
    border: 4px solid black;
    display: inline-block;
    margin: 25px;
    margin-top: 25px;}
.footer {
    height: 375px;
    width: 500px;
    border: 4px solid black;
    display: inline-block;
    margin: 25px;
    margin-top: 25px;} 